# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/tutorials/data/
/docs/generated/
/docs/_build/
/docs/generated/
/docs/api/ehrdata.*.rst
/docs/api/data
/docs/api/tools
/docs/api/io
/docs/api/plot
!/docs/api/api.md

ehrapy_data
test.ipynb
*.h5ad

.idea/
