name: Run Notebooks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    run:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                notebook: [
                        "docs/tutorials/getting_started.ipynb",
                        "docs/tutorials/real_dataset_example_physionet2019.ipynb",
                        "docs/tutorials/omop_intro.ipynb",
                        "docs/tutorials/omop_ml.ipynb",
                        "docs/tutorials/interactive_visualization.ipynb",
                    ]
        steps:
            - uses: actions/checkout@v5
              with:
                  submodules: "true"

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.14"

            - name: Install UV
              run: pip install uv

            - name: Install ehrdata and additional dependencies
              run: uv pip install --system . nbconvert ipykernel graphviz torch ehrapy "vitessce[all]" bottleneck ome_zarr negspy

            - name: Run ${{ matrix.notebook }} Notebook
              run: jupyter nbconvert --to notebook --execute ${{ matrix.notebook }}
